/* Initiallizing the page */
* {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
img {
  width: 100%;
}

@font-face {
  font-family: primary-font-eb;
  src: url("../font/HelveticaNeue-BoldExt.otf");
}

@font-face {
  font-family: primary-font-b;
  src: url("../font/HelveticaNeueBold.ttf");
}

@font-face {
  font-family: primary-font-n;
  src: url("../font/HelveticaNeue-MediumCond.otf");
}

@font-face {
  font-family: primary-font-l;
  src: url("../font/HelveticaNeueLight.ttf");
}

@font-face {
  font-family: primary-font-thin;
  src: url("../font/HelveticaNeueLight.ttf");
}
:root {
  /* Font Family and Size */
  --backup-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --h1font: 20vh;
  --h2font: 5vh;
  --h3font: 3.5vh;
  /* Font Color */
  --primart-color: #e8e5e5;
  --secondary-color-l: #e8e5e5;
  --secondary-color-dark:rgb(33, 33, 33);
}
body {
  backface-visibility: hidden;
  font-family: var(--backup-font);
  color: var(--primart-color);
}
.main-box {
  background: url("../images/wallpage3.svg") no-repeat;
  opacity: 0.95;
}
li {
  list-style-type: none;
}

.main-container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}
/* Css for the top container starts here */
.top-container {
  margin: 20px auto;
  display: flex;
  /* background-color: aliceblue; */
  justify-content: space-between;
}
/* Css for the top container ends here */

/* Css for the center container starts her */
.center-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 50vh;
}

.center-top-container {
  display: flex;
  gap: 2%;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 70%;
}

/* 
.center-left {
  background-color: lawngreen;
} */
.center-left,
.center-right {
  width: 2.5vw;
}
.center-center {
  font-family: "primary-font-b";
  font-size: var(--h1font);
  align-self: center;
}

.popUp {
  cursor: pointer;
  position: relative;
}

.popUp .popup-text {
  visibility: hidden;
  position: absolute;
  width: max-content;
  height: max-content;
  background-color: #e8e5e5;
  border-radius: 4px;
  padding: 1vh;
  color: var(--secondary-color-dark);
}
.popUp .show {
  visibility: visible;
}

.toggle-bar {
  visibility: hidden;
  position: inherit;
  background: lightgreen;
  border: 1px solid white;
  width: 2vw;
  height: 1vw;
}

.toggle-bar .icon {
  visibility: inherit;
  background: white;
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.center-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "primary-font-b";
  font-size: var(--h2font);
  cursor: pointer;
}
.center-middle input,
.center-bottom input {
  background: none;
  border: 0;
  outline: none;
  color: var(--primart-color);
  width: max-content;
  margin-left: 5px;
}
hr {
  border-radius: 8px;
  border: 1.5px solid;
  width: 100%;
  border-color: var(--primart-color);
}

.center-container ::placeholder {
  color: var(--primart-color);
  font-family: "primary-font-l";
}

.center-bottom,
.center-middle + div {
  text-align: center;
  font-family: var(--backup-font);
  font-size: var(--h3font);
  position: relative;
}

.center-bottom input[type="checkbox"] {
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Customized checkbox */
.mainTaskCheckBox {
  position: absolute;
  width: 2.5vh;
  height: 2.5vh;
  bottom: 5.5%;
  left: -50%;
  border-radius: 4px;
  border: 2px solid var(--primart-color);
}
.mainTaskCheckBox:hover {
  background-color: var(--secondary-color-l);
}
.center-bottom input:checked ~ .mainTaskCheckBox {
  background: url("../images/charm_tick.svg") no-repeat center;
  background-position: contain;
}

/* Pop Up after the main task is completed. */
.mainTaskPopUp {
  display: none;
  position: fixed;
  top: 1%;
  left: 45%;
  background-color: var(--primart-color);
  border-radius: 20px;
  min-width: fit-content;
  padding: 0.5%;
  height: fit-content;
  color: var(--secondary-color-dark);
  transition-timing-function: ease-in-out;
}

/* Css for the central container ends here */

/* Css for the bottom container starts here */
.bottom-container {
  display: flex;
  /* background: lightsteelblue; */
  justify-content: space-between;
  margin: 20px auto;
}
.settings {
  display: flex;
  gap: 10px;
}
.bottom-container .popup-text {
  /* display: flex; */
  position: absolute;
  bottom: 50px;
}

.bottom-center {
  text-align: center;
}
.bottom-center:hover {
  opacity: 0.5;
  translate: 0 -15px;
  transition-duration: 2s;
}

.bottom-right {
  position: relative;
}
.todoListContainer {
  display:none;
  position: absolute;
  bottom: 40px;
  right: 0;
  width: 400px;
  height: fit-content;
  min-height: 300px;
  background: var(--primart-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  color: var(--secondary-color-dark);
}
.todoListContainer div{
  display: flex;
  justify-content: space-between;
  background-color: rgb(27, 126, 27);
  height: 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: var(--primart-color);
  align-items: center;
  padding-left:15px;
  padding-right: 15px;
}

.todoListContainer div img{
  width: 18px;
  height: 18px;
}
.todoListContainer table, .todoListContainer th{
  border:1px solid black;
}

/* Media Query */
/* Design for Tablets */
